:root {
  --boxNumber: 16;
  --backgroundColor: #f4edea;
  --dark-blue: #12263a;
}

body {
  background-color: var(--backgroundColor);
  font-family: 'Rubik', sans-serif;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.container {
  max-width: 380px;
  margin-right: auto;
  margin-left: auto;
  display: flex;
  align-items: center;
}

.container.header {
  justify-content: space-between;
}

.range-container {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.blackwhite {
  background: linear-gradient(
    -45deg,
    rgba(18, 38, 58) 50%,
    rgba(255, 255, 255) 50%
  );
}

.btn {
  width: 57px;
  height: 57px;
  border-radius: 100%;
  border: 1px solid;
  cursor: pointer;
}

.left {
  margin-right: auto;
  border-radius: 0;
}
.container.footer {
  width: 100%;
  margin-top: 1rem;
  gap: 1rem;
}

.title {
  font-size: 18px;
}

.grid {
  display: grid;
  background-color: #fff;
  border: 1px black solid;
  width: 360px;
  height: 360px;
  grid-template: repeat(var(--boxNumber), 1fr) / repeat(var(--boxNumber), 1fr);
}

.box {
  transition: all 0.2s ease-in;
  background-color: #fff;
}

.black {
  background-color: #000;
}

label,
button,
input {
  display: block;
  cursor: pointer;
  border-radius: 4px;
}

input[type='range'] {
  appearance: none;
  background-color: var(--dark-blue);
  height: 5px;
  border-radius: 1rem;
  outline: none;
  opacity: 0.8;
}

input[type='range']:hover {
  opacity: 1;
}

input[type='range']::-webkit-slider-thumb {
  appearance: none;
  width: 1.3rem;
  height: 1.3rem;
  background: #fff;
  cursor: pointer;
  border: 1px solid;
  border-radius: 100%;
}

input[type='color'] {
  visibility: hidden;
}

.pickColor {
  background-color: var(--dark-blue);
  position: relative;
}

#rainbow {
  background-image: url(./icons/button-rainbow-2.svg);
  background-repeat: no-repeat;
  background-size: 143%;
  background-position: center;
}

#reset {
  background-color: #fff;
  border-radius: 0.7rem;
}

.icon {
  position: absolute;
  width: 23px;
  top: 17px;
  right: 17px;
  color: rgb(14, 1, 1);
  filter: invert(100%) sepia(0%) saturate(7447%) hue-rotate(271deg)
    brightness(100%) contrast(95%);
}

.icon-range {
  width: 18px;
}

.icon-reset {
  width: 27px;
}

/* media queries */
@media screen and (min-width: 768px) {
  .center-container {
    display: flex;
    gap: 2rem;
  }

  .grid {
    width: 380px;
    height: 380px;
  }

  .container.footer {
    order: 1;
    flex-direction: column-reverse;
    margin-top: 47px;
  }

  .left {
    margin-top: auto;
  }

  .header-main {
    order: 2;
  }
}
