:root {
  --boxNumber: 16;
  --backgroundColor: #F4EDEA;
}

body {
  background-color: var(--backgroundColor);
  font-family: 'Rubik', sans-serif;
}

.container {
  max-width: 400px;
  margin-right: auto;
  margin-left: auto;
  display: flex;
  
}

.range-container {
  display: flex;
  border: 1px solid red;
  justify-content: center;

}

label, 
button, 
input {
  display: block;
}

.title {
  font-size: 18px;
}

.grid {
  display: grid;
  border: 1px black solid;
  width: 500px;
  height: 500px;
  grid-template: repeat(var(--boxNumber), 1fr) / repeat(var(--boxNumber), 1fr);
}

.box {
  color: black;
  transition: all .2s ease-in;
}

