:root {
  --boxNumber: 16;
  --backgroundColor: #F4EDEA;
}

body {
  background-color: var(--backgroundColor);
  font-family: 'Rubik', sans-serif;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.container {
  max-width: 380px;
  margin-right: auto;
  margin-left: auto;
  display: flex;
  align-items: center;
}

.container.header {
  justify-content: space-between;
}

.range-container {
  display: flex;
}

.blackwhite {
  background: linear-gradient(-45deg, rgba(18,38,58) 50%, rgba(255,255,255) 50%);
}

.btn {
  width: 50px;
  height: 50px;
  border-radius: 100%;
  border: 1px solid;
  cursor: pointer;
}

.left {
  margin-right: auto;
  border-radius: 0;
  
}
.container.footer {
  width: 100%;
  margin-top: 1rem;
  gap: 1rem;
}

.title {
  font-size: 18px;
}

.grid {
  display: grid;
  background-color: #fff;
  border: 1px black solid;
  width: 360px;
  height: 360px;
  grid-template: repeat(var(--boxNumber), 1fr) / repeat(var(--boxNumber), 1fr);
}

.box {
  transition: all .2s ease-in;
  background-color: #fff;
}

.black {
  background-color: #000;
}

label, 
button, 
input {
  display: block;
}

/* media queries */
@media screen and (min-width: 768px) {
  .center-container {
    display: flex;
    gap: 2rem;
  }

  .grid {
    width: 380px;
    height: 380px;
  }
  
  .container.footer {
    order: 1;
    flex-direction: column-reverse;
    margin-top: 47px;
  }
  
  .left {
    margin-top: auto;
  }

    .header-main {
    order: 2;
  }
}

